<template>
    <div class="hello">
        I am nomi {{trimmedProfession}};
        <input v-model="dataProfession" name="profession" v-validate="'required|nomi'">
        <span v-show="errors.has('profession')" class="help is-danger">{{ errors.first('profession') }}</span>
        <router-link to="/">Home</router-link>
        <ul>
          <li v-for="campus in campuses" :key="campus.id">{{campus.name}}</li>
        </ul>
    </div>
</template>

<script>

export default {
  beforeRouteEnter (to, from, next) {
    setTimeout(() => {
      next(vm => {
        //
      })
    }, 0)
  },
  beforeRouteLeave (to, from, next) {
    setTimeout(() => {
      next()
    }, 0)
  },
  props: ['profession'],
  data () {
    return {
      dataProfession: this.profession,
      campuses: []
    }
  },
  computed: {
    trimmedProfession () {
      //  return this.profession.trim()
    }
  },
  watch: {
    dataProfession (newValue, oldValue) {
      if (this.profession !== newValue) {
        this.$emit('update:profession', newValue)
      }
    },
    profession (newValue, oldValue) {
      this.dataProfession = newValue
    }
  },
  created () {
    this.$axios.get('/fee_structure/get?name=noman')
      .then((res) => {
        this.campuses = res.data.data.feeStructure.campuses
      }).catch((error) => {
        console.log(error.response)
      })
  },
  destroyed () {
    console.log('destroyed nomi')
  },
  deactivated () {
    console.log('deactivated nomi')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
